* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3.5rem;
    width: 100%;
    /* yellow & orange color theme */
/*     background-color: rgb(233, 146, 24); */
    /* blue color theme */
    background-color: rgb(127, 204, 255);

    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20pt;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.headerLogo {
    text-decoration: none;
    color: rgb(231, 246, 255);
}

.headerLogo:hover {
    color: rgb(203, 233, 252);
}

.headerIcons {
    font-size: 25pt;
    padding-right: 0.5rem;
    padding-top: 10px;
}

/* .homepage {
    text-decoration: none;
    color: rgb(231, 246, 255);
}

.homepage:hover {
    color: rgb(203, 233, 252);
} */

.signOutBtn {
    height: 2rem;
    width: 7rem;
}

.divHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .cartIcon {
    font-size: 25pt;
    padding-right: 0.5rem;
    padding-top: 10px;
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinkStripper {
    text-decoration: none;
    color: rgb(255, 149, 0)
}

.alinkStripper:hover {
    color: rgb(51, 172, 252);
}

/* footer {

} */