.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 14pt;
}

.loginLineBR {
    background-color: rgb(127, 204, 255);
    height: 0.5rem;
    width: 22rem;
    margin-top: 1em;
}

/* ----------- User activity choice ------------- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 18rem;
    height: 18rem;
}

.circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.2rem;

    height: 8rem;
    width: 8rem;
    /* border: 2px solid rgb(236, 183, 75); */
}

.iconSettings {
    color: rgb(127, 204, 255);
    font-size: 40pt;
    margin-bottom: 0.2rem;
}

#userPic {
    background-color: rgb(190, 226, 250);
    height: 180px;
    width: auto;
    border-radius: 2rem;
    margin: 1rem;
}